/* ==========================================================================
   Notebook gallery
   ========================================================================== */

#gallery {
  display: flex;
  flex-flow: row wrap;
}

#gallery div {
  border: 2px solid black;
  border-radius: 10px;
  flex: 0 1 230px;
  margin: 10px;
  padding: 5px;
}

#gallery div:hover {
  border-width: 5px;
  border-color: #F3A536;
  margin: 7px;
}

#gallery div img {
  width: 100%;
  height: auto;
}
